@font-face {
	font-family: "Bank Sans EF CY";
	src: local("banksansefcy_med"), url(/banksansefcy_med.otf);
}
@font-face {
	font-family: "Arial";
	src: local("ARIAL"), url(/ARIAL.TTF);
}

$orangecolor: #f16832;
$graycolor: #d1cecd;
$brouncolor: #7c726e;
$lightgray: #e8e4e1;
.button {
	cursor: pointer;
	&:hover {
		border-color: $orangecolor;
		color: $orangecolor;
	}
}
body {
	font-size: 1rem;
	font-family: Arial;
	z-index: -2;
	position: relative;
}
.header_logo {
	padding: 20px 27px;
}
header {
	position: fixed;
	width: 100%;
	display: flex;
	flex-direction: row;
}
.header_main_section {
	display: flex;
	flex-direction: row;
	background: $brouncolor;
	justify-content: space-between;
	width: 100%;
	padding: 23px 20px 22px 20px;
	align-items: center;
}
.header_title h1 {
	color: white;
	font-family: Bank Sans EF CY;
	font-size: 40px;
	font-weight: 500;
}
.header_title a {
	text-decoration: none;
}
.header_user_name {
	display: flex;
	color: white;
	font-family: Arial;
	font-size: 32px;
	font-weight: 500;
	line-height: normal;
}
.header_right_side {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.header_user_debt {
	display: flex;
	color: white;
	font-family: Arial;
	font-size: 16px;
	font-weight: 500;
	padding-right: 15px;
	justify-content: flex-end;
	box-sizing: border-box;
}
.header_user_debt span {
	margin-left: 5px;
}
.header_button_section {
	display: flex;
	gap: 10px;
	margin-left: 50px;
}
.header_button_section button {
	box-sizing: border-box;
	border: 3px solid white;
	border-radius: 5px;
	background: transparent;
	&:nth-child(1) {
		padding: 11px 12px 9px 8px;
	}
	&:nth-child(2) {
		padding: 12px 9px 9px 8px;
	}
	&:nth-child(3) {
		padding: 10px 8px 10px 12px;
	}
}
.header_list_button {
	display: flex;
	align-items: center;
	margin-left: 25px;
}
.side_bar {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 6.8rem;
	min-height: 100vh;
}
.side_bar_middle {
	display: flex;
	flex-direction: column;
	background: $graycolor;
}
.side_bar_emelemt {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	writing-mode: vertical-lr;
	padding: 50px 41px 54px 40px;
	border-bottom: 3px solid white;
}
.side_bar_emelemt p {
	transform: rotate(-180deg);
	font-size: 2em;
	font-weight: 400;
	color: white;
	line-height: normal;
}
.side_bar_emelemt svg {
	margin-bottom: 8px;
}
.side_bar_bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: $graycolor;
	gap: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.side_bar_button {
	background: $brouncolor;
	border: 3px solid white;
	border-radius: 5px;
	display: flex;
	align-items: center;
	&:nth-child(1) {
		padding: 10px;
	}
	&:nth-child(2) {
		padding: 13px 16px 12px 19px;
	}
}

// !main

main {
	position: relative;
	z-index: -1;
	top: 108px;
	left: 118px;
	max-width: 100vh;
}
.main_grid {
	display: flex;
	flex-direction: row;
	padding: 20px;
	column-gap: 20px;
}
.first_collumn {
	display: flex;
	flex-direction: column;
	min-width: 580px;
}
.user_card {
	display: flex;
	background: $orangecolor;
	border-radius: 10px;
	padding: 27px 30px 34px 30px;
	color: white;
	margin-bottom: 20px;
	p {
		font-size: 32px;
		margin-bottom: 9px;
	}
	ul {
		margin-left: 36px;
	}
	li {
		font-size: 16px;
		margin: 7px 0;
		&:nth-child(1) {
			margin-top: 0;
			list-style-image: url(/user.svg);
		}
		&:nth-child(2) {
			list-style-image: url(/tel.svg);
		}
		&:nth-child(3) {
			list-style-image: url(/letter.svg);
		}
	}
}
.user_img {
	margin-right: 31px;
	border-radius: 5px;
}
.list_functions {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 20px;
	div {
		border-radius: 10px;
		padding: 20px 20px 20px 30px;
		background: $brouncolor;
		display: flex;
		align-items: center;
		justify-content: space-between;
		p {
			font-size: 32px;
			font-family: Bank Sans EF CY;
			color: white;
			font-weight: normal;
		}
	}
}
.orders {
	background: $graycolor;
	border-radius: 10px;
	padding: 20px 30px 20px 30px;
	color: $brouncolor;
	margin-bottom: 20px;
}
.orders_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	p {
		font-size: 32px;
	}
	button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: white;
		font-size: 16px;
		background: $brouncolor;
		padding: 10px 15px;
		font-family: Bank Sans EF CY;
		border-radius: 3px;
		border: 3px solid white;
		min-width: 210px;
	}
}
.orders_list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.orders_element {
	display: flex;
	justify-content: space-between;
	background: $lightgray;

	button {
		background: $brouncolor;
		border-radius: 5px;
		border: 2px solid $graycolor;
		min-width: 50px;
		min-height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.orders_info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px 5px 15px;
	width: 100%;
}
.orders_item {
	font-weight: 700;
	font-size: 16px;
}
.orders_price {
	font-size: 16px;
	font-weight: 500;
	font-family: Bank Sans EF CY;
}
.download_price-list {
	background: $brouncolor;
	color: white;
	padding: 15px 18px 18px 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
}
.download_header {
	font-size: 32px;
	font-weight: 500;
	font-family: Bank Sans EF CY;
}
.date_price-list {
	font-size: 16px;
	font-weight: 700;
}

// !media

@media screen {
}
